.grid-container { 
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap:05px;
  margin: 10%; 
}
section {
  padding:60px 0;
}

header {
  background-color:#C1DDD8;
  grid-column:span 3; 
  margin: 10px;
  text-align:center;
  font-size:40px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
} 

   
.grid-item {  
  font-size: 1.5rem; 
  background-color: white; 
  padding: 2rem; 
}


article img{
  width: 200px;
  float: left;
  align:left;
  margin: 0px 10px 0px 0px;
  

}   

section{  
  Font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
  background-color:white;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
      
li { 
  float: left;
}
   
article p{
  text-indent: 50px;
}
    
img.icons {
  display: inline;
  width: 20px;
  align: center;
}

article{
  background-color:#9EC4C5; 
  color:white; 
  padding:10px;
  Color: #008080;
  Font-weight: bold;
}

footer{ 
  grid-column: span 3;
  text-align: center;
  font-size: 10px;
  Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  background-color: white; 
  padding: 10px;
 }

 /* CSS Animation */
.fade-in {
  animation: fade-in 3s forwards;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

  
